<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= predmet %> - <%= dioIspita %></title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/styleDefault.css" id="theme-stylesheet">

    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>
    <script type="text/javascript" src="/javascripts/datepicker.js"></script>


</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle iconsmall" id="profilnaSlika">
            <div class="sidebartext" id="sidebartext">
                <h4><%= imePrezime[0].Ime%> <%= imePrezime[0].Prezime%></h4>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="/pocetnaProfesor">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li >
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/users/kurseviProfesor">
                            <i class="glyphicon glyphicon-tasks"></i>
                            Detaljno
                        </a>
                    </li>
                    <%  if(kursevi.length >= 1){
                    for(var i=0; i < kursevi.length; i++) { %>
                    <li><a href="/kursProfesor?kursId=<%= kursevi[i].KursId%>"><%= kursevi[i].NazivKursa %></a></li>

                    <% }} %>
                </ul>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default" id="nav">

            <div class="navbar-header">
                <a class="navbar-brand" >Ispit iz predmeta <%= predmet %> održan datuma <%= (new Date(datumIspita).getDate() + 100).toString().substring(1)%>.<%= (new Date(datumIspita).getMonth() + 101).toString().substring(1)%>.<%= (new Date(datumIspita).getFullYear()).toString()%>.</a>

            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </nav>
        <!--Header end-->

        <!-- Ispiti -->
        <div class="box">

            <h4 class="green" >Rezultati</h4>
            <table class="table">
                <form method="post" action="/dodajRezultate">
                    <tr>
                        <th> Ime i prezime </th>
                        <th> Broj indexa</th>
                        <th> Osvojeno bodova </th>
                    </tr>
                    <% if(studenti.length >= 1){
                    for(var i = 0; i < studenti.length; i++) {
                    %>
                    <tr>
                        <td><%= studenti[i].Ime %>  <%= studenti[i].Prezime%></td>
                        <td><%= studenti[i].BrojIndexa%></td>
                        <td hidden><input type="text"  class="Korisnik_KorisnikId" id="korisnikId" name="korisnikId" value="<%= studenti[i].KorisnikId %>"></td>
                        <td hidden><input type="text" id="ispitId" name="ispitId" value="<%= studenti[i].Ispit_IspitId %>"></td>
                        <td hidden><input type="text" id="kursId" name="kursId" value="<%= studenti[i].Kurs_KursId %>"></td>
                        <td hidden><input type="text" id="email" name="email" value="<%= studenti[i].Email %>"></td>
                        <td hidden><input type="text" id="dioIspita" name="dioIspita" value="<%= studenti[i].DioIspita %>"></td>
                        <% if(rezultat == 1){%>
                        <td> <input type="text" class="OsvojeniBrojBodova" id=bodovi name=bodovi value="<%= studenti[i].OsvojeniBrojBodova %>" ></td>
                        <%}else{%>
                        <td> <input type="text" class="OsvojeniBrojBodova" id=bodovi name=bodovi ></td>
                        <%}%>
                    </tr>
                    <% }} %>


            </table>
            <script>
            </script>
            <table class="detalji">

                <tr>
                    <% if(rezultat == 1){ %>
                    <td align="center"> Maximalno bodova:  <input type="text" id="maxBodova" name="maxBodova" value="<%= maxBrojBodova %>"> </td>
                    <td> Uvid: <%= (new Date(datumUvida).getDate() + 100).toString().substring(1)%>.<%= (new Date(datumUvida).getMonth() + 101).toString().substring(1)%>.<%= (new Date(datumUvida).getFullYear()).toString()%>.</td>
                    <td align="right"> <input type="submit" class="button" id="spasiRezultateDugme"  data-toggle="modal"
                                              value="Spasi rezultate"> </td>
                    <%} else{ %>
                    <td align="center"> Maximalno bodova:  <input type="text" id="maxBodova" name="maxBodova"> </td>
                    <td> Uvid:<input type="date" id="uvid" name="uvid">
                    <td align="right"> <input type="submit" class="button" id="spasiRezultateDugme"  data-toggle="modal"
                                              value="Spasi rezultate"> </td>
                    <% } %>
                </tr>

                </form>
            </table>

        </div>

    </div>
</div>
</body>
</html>
