<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= nazivKursa[0].NazivKursa %></title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="Scripts/bootstrap-datetimepicker.js"></script>
    <script src="Scripts/bootstrap-select.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/styleDefault.css" id="theme-stylesheet">

    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>
    <script type="text/javascript" src="/javascripts/datepicker.js"></script>


</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle iconsmall" id="profilnaSlika">
            <div class="sidebartext" id="sidebartext">
                <h4><%= imePrezime[0].Ime%> <%= imePrezime[0].Prezime%></h4>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="/pocetnaProfesor">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/users/kurseviProfesor">
                            <i class="glyphicon glyphicon-tasks"></i>
                            Detaljno
                        </a>
                    </li>
                    <%  if(kursevi.length >= 1){
                    for(var i=0; i < kursevi.length; i++) { %>
                    <li><a href="/kursProfesor?kursId=<%= kursevi[i].KursId%>"><%= kursevi[i].NazivKursa %></a></li>

                    <% }} %>
                </ul>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default" id="nav">

            <div class="navbar-header">
                <a class="navbar-brand" ><%= nazivKursa[0].NazivKursa %> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </nav>
        <!--Header end-->

        <!-- Ispiti -->
        <div class="box">
            <button type="button" id="kreirajIspitDugme" class="button dugmeProf" data-toggle="modal"
                    data-target="#kreirajIspit"> + Novi ispit
            </button>
            <h4 class="green" >Ispiti</h4>
            <table class="table">
                <tr>
                    <th> Dio ispita </th>
                    <th> Mjesto održavanja</th>
                    <th> Vrijeme održavanja</th>
                    <th> Dosad prijavljeno</th>
                    <th></th>

                </tr>

                <% if(ispiti.length >= 1){
                for(var i = 0; i < ispiti.length; i++) {
                %>
                <tr>

                    <td align="center"><%= ispiti[i].DioIspita %></td>
                    <td align="center"><%= ispiti[i].NazivKabineta %></td>
                    <td><%= (new Date(ispiti[i].DatumIspita).getDate() + 100).toString().substring(1)%>/<%= (new Date(ispiti[i].DatumIspita).getMonth() + 101).toString().substring(1)%>/<%= (new Date(ispiti[i].DatumIspita).getFullYear()).toString()%>
                        u
                        <%= (new Date(ispiti[i].DatumIspita).getHours()+100).toString().substring(1) %>:<%= (new Date(ispiti[i].DatumIspita).getMinutes()+100).toString().substring(1) %></td>
                    <td align="center"><%= (ispiti[i].BrojStudenata)-1 %></td>
                    <td>
                        <input type="submit" class="button_prijava" id="dodajRezultateDugme"  data-toggle="modal" onclick="window.location.href='/dodajRezultate?ispitId=<%= ispiti[i].IspitId%>'"
                               value="Rezultati">
                    </td>
                </tr>
                <% }} %>
            </table>
        </div>
        <!--Modal za dodavanje rezultata-->
        <!--<div class="modal fade" id="rezultati" role="dialog">-->
        <!--<div class="modal-dialog">-->
        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content" id="modal-content">-->

        <!--<<<<<<< HEAD-->
        <!--<div class="modal-header green">-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title green">Kreiranje ispita</h4>-->
        <!--</div>-->

        <!--<div class="modal-body-ispit">-->
        <!--<div class="form-group-ispit">-->
        <!--<p>Ispit iz:</p>-->
        <!--<input type="text"  id="ispit" name="ispit">-->

        <!--<p>Mjesto održavanja ispita:</p>-->
        <!--<input type="text" id="mjesto" name="mjesto">-->

        <!--<p>Vrijeme održavanja ispita:</p>-->
        <!--<input type="text" id="vrijeme" name="vrijeme">-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="modal-footer">-->
        <!--<input type="submit" class="button" value="Kreiraj" id="kreirajIspit" onclick="kreirajIspit(<%= nazivKursa[0].KursId %>);">-->

        <!--<button type="button" class="button" data-dismiss="modal">Close</button>-->
        <!--=======-->
        <!--<div class="modal-header green" >-->
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <!--<h4 class="modal-title green">Naziv predmeta</h4>-->
        <!--<h5 class="modal-title green">Dio ispita datum ispita </h5>-->
        <!--</div>-->

        <!--<div class="modal-body">-->
        <!--<table class="table">-->
        <!--<tr>-->
        <!--<th></th>-->
        <!--<th>Ime i prezime </th>-->
        <!--<th>Broj indexa</th>-->
        <!--<th>Bodova</th>-->
        <!--<th></th>-->
        <!--<th></th>-->
        <!--</tr>-->

        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>1.</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>Maja Mihojevic</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>5113</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td><input type="taxt" name="osvojenoBodova" ></td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default btn-sm">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-edit"></span> Edit&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-default btn-sm">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-ok-sign"></span> OK&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</td>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->


        <!--</table>-->

        <!--</div>-->

        <!--<div class="modal-footer">-->
        <!--<input type="submit" class="button" value="Dodaj rezultate" >-->
        <!--<button type="button" class="button" data-dismiss="modal">Zatvori</button>-->
        <!--&gt;>>>>>> 887db4871b764edf53c4ac8994d40e9d69711c40-->
        <!--</div>-->

        <!--</div>-->

        <!--</div>-->
        <!--</div>-->

        <!--modal za kreiranje ispita-->
        <div class="modal fade" id="kreirajIspit" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="modal-content">

                    <div class="modal-header green">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title green">Kreiranje ispita</h4>
                    </div>

                    <div class="modal-body-ispit">
                        <div class="form-group-ispit">
                            <p>Dio ispita:</p>
                            <input type="text"  id="ispit" name="ispit" required="required">
                            <div class="validacija" id="validator_ispit"> </div>
                            <p>Mjesto održavanja ispita:</p>
                            <input type="text" id="mjesto" name="mjesto" required="required">
                            <div class="validacija" id="validator_mjesto"> </div>
                            <p>Vrijeme održavanja ispita:</p>
                            <input type="date" id="datum" name="datum" required="required">
                            <div class="validacija" id="validator_datum"> </div>
                            <p>Vrijeme održavanja ispita:</p>
                            <input type="time" id="vrijeme" name="vrijeme" required="required">
                            <div class="validacija" id="validator_vrijeme"> </div>
                            <!--
                                      <div class='col-sm-6'>
                                      <div class="form-group">
                              <div class='input-group date' id='vrijeme'>
                                  <input type='text'  />
                                  <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>

                                      </div>
                                  </div>
                              </div>  -->
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="button" value="Kreiraj" id="kreirajIspit" onclick="kreirajIspit(<%= nazivKursa[0].KursId %>);">

                        <button type="button" class="button" data-dismiss="modal">Odustani</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
