<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Svi kursevi</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" id="theme-stylesheet">

    <link rel="stylesheet" href="/stylesheets/styleDefault.css" id="theme-stylesheet">

    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle iconsmall" id="profilnaSlika">
            <div class="sidebartext" id="sidebartext">
                <h4><%= imePrez[0].Ime%> <%= imePrez[0].Prezime%></h4>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="/pocetnaStudent">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li class="active">
                <a href="#">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Svi Kursevi
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <%  if(kursevi.length >= 1){
                        for(var i=0; i < kursevi.length; i++) { %>
                    <li><a href="/kursStudent?kursId=<%= kursevi[i].KursId%>"><%= kursevi[i].NazivKursa %></a></li>

                    <% }} %>
                </ul>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default" id="nav">

            <div class="navbar-header">
                <a class="navbar-brand" href="#"> Svi Kursevi</a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </nav>
        <!--Header end-->

        <!--Table for courses-->
        <div class="table-striped" id="tabela">
            <table class="table">
                <tr>
                <th>Naziv kursa</th>
                <th>Odsjek</th>
                <th>Profesor</th>
                <th></th>
                </tr>
                <% if(rows.length >= 1){
                for(var i = 0; i < rows.length; i++) {
                %>
                <tr>
                    <td><%= rows[i].NazivKursa %></td>
                    <td><%= rows[i].Odsjek %></td>
                    <td><%= rows[i].Ime%> <%= rows[i].Prezime%></td>
                    <td>
                        <button type="button" id="prijavaDugme" class="button" data-toggle="modal"
                                data-target="#prijavaModal" onclick="prijaviSe(<%= rows[i].KursId %>);">Prijava
                        </button>
                    </td>
                </tr>
                <% }} %>
            </table>
        </div>
        <!--Table end-->

        <div class="modal fade" id="prijavaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header green">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title green">Prijava na kurs</h4>
                    </div>

                    <div class="modal-body-prijava">
                        <div class="form-group-prijava">
                            <p>Unesite šifru kursa:</p>
                            <input type="text" id="sifra_kursa1" name="sifraKursa">
                            <div class="validacija" id="validator_prijava_kurs"> </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="button" value="Prijava" id="prijaviKurs">
                        <button type="button" class="button" data-dismiss="modal">Odustani</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
