<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kursevi</title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/styleDefault.css" id="theme-stylesheet">

    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>

</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle iconsmall" id="profilnaSlika">
            <div class="sidebartext" id="sidebartext">
                <h4><%#= imePrezime[0].Ime %> <%#= imePrezime[0].Prezime %></h4>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="/pocetnaProfesor">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>

            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <%#  if(kursevi.length >= 1){
                    for(var i=0; i < kursevi.length; i++) { %>
                    <li><a href="#"><%#= kursevi[i].NazivKursa %></a></li>

                    <%# }} %>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Ispiti
                </a>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default" id="nav">

            <div class="navbar-header">
                <a class="navbar-brand" ><%= nazivKursa[0].NazivKursa %> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </nav>
        <!--Header end-->

        <!-- Ispiti -->
        <div class="box">
            <button type="button" id="kreirajIspitDugme" class="button dugmeProf" data-toggle="modal"
                    data-target="#kreirajIspit"> + Novi ispit
            </button>
            <h4 class="green" >Ispiti</h4>
            <table class="table">
                <tr>
                    <th> Dio ispita </th>
                    <th> Mjesto održavanja</th>
                    <th> Vrijeme održavanja</th>
                    <th> Dosad prijavljeno</th>
                    <th></th>

                </tr>

                <% if(ispiti.length >= 1){
                for(var i = 0; i < ispiti.length; i++) {
                %>
                <tr>
                    <td><%= ispiti[i].DioIspita %></td>
                    <td><%= ispiti[i].NazivKabineta %></td>
                    <td><%= ispiti[i].DatumIspita %></td>
                    <td><%= (ispiti[i].BrojStudenata)-1 %></td>
                    <td>
                        <input type="submit" class="button" id="dodajRezultateDugme"  data-toggle="modal"
                               data-target="#rezultati" value="Dodaj rezultate">
                    </td>
                </tr>
                <% }} %>
            </table>
        </div>
<!--Modal za dodavanje rezultata-->
        <div class="modal fade" id="rezultati" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content" id="modal-content">

                    <div class="modal-header green" >
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title green">Naziv predmeta</h4>
                        <h5 class="modal-title green">Dio ispita datum ispita </h5>
                    </div>

                    <div class="modal-body">
                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Ime i prezime </th>
                            <th>Broj indexa</th>
                            <th>Bodova</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Maja Mihojevic</td>
                            <td>5113</td>
                            <td><input type="taxt" name="osvojenoBodova" ></td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-ok-sign"></span> OK
                                </button>
                            </td>
                        </tr>


                    </table>

                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="button" value="Dodaj rezultate" >
                        <button type="button" class="button" data-dismiss="modal">Zatvori</button>
                    </div>

                </div>

            </div>
        </div>

        <!--modal za kreiranje ispita-->
        <div class="modal fade" id="kreirajIspit" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" id="modal-content">

                    <div class="modal-header green">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title green">Kreiranje ispita</h4>
                    </div>

                    <div class="modal-body-ispit">
                        <div class="form-group-ispit">
                            <p>Dio ispita:</p>
                            <input type="text"  id="ispit" name="ispit">

                            <p>Mjesto održavanja ispita:</p>
                            <input type="text" id="mjesto" name="mjesto">

                            <p>Vrijeme održavanja ispita:</p>
                            <input type="text" class="form-control" id="vrijeme" name="vrijeme">

                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="button" value="Kreiraj" id="kreirajIspit" onclick="kreirajIspit(<%= nazivKursa[0].KursId %>);">

                        <button type="button" class="button" data-dismiss="modal">Close</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
