<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= nazivKursa[0].NazivKursa %></title>
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/styleDefault.css" id="theme-stylesheet">

    <script type="text/javascript" src="/javascripts/helper.js"></script>
    <script type="text/javascript" src="/javascripts/popup.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="/images/img6.png" alt="..." class="img-fluid rounded-circle iconsmall" id="profilnaSlika">
            <div class="sidebartext" id="sidebartext">
                <h4><%= imePrezime[0].Ime%> <%= imePrezime[0].Prezime%></h4>
            </div>
        </div>
        <button type="button" id="sidebarCollapse" class="btn btn-secundary navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>

        <ul class="list-unstyled components">
            <li>
                <a href="/pocetnaStudent">
                    <i class="glyphicon glyphicon-home"></i>
                    Početna
                </a>
            <li>
                <a href="/users/kurseviStudent">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Svi Kursevi
                </a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="glyphicon glyphicon-book"></i>
                    Moji Kursevi
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <%  if(kursevi.length >= 1){
                    for(var i=0; i < kursevi.length; i++) { %>
                    <li><a href="/kursStudent?kursId=<%= kursevi[i].KursId%>"><%= kursevi[i].NazivKursa %></a></li>

                    <% }} %>
                </ul>
            </li>
        </ul>
    </nav>
    <!--Sidebar end -->
    <!-- Page Content Holder -->
    <div id="content" class="customWidth">
        <!-- Header-->
        <nav class="navbar navbar-default" id="nav">

            <div class="navbar-header">
                <a class="navbar-brand" ><%= nazivKursa[0].NazivKursa %> </a>
            </div>
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" id="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </nav>
        <!--Header end-->

        
        <!-- Ispiti i prijava-->

        <div class="box">
            <h4 class="green">Ispiti</h4>
            <table class="table">
                <th>Naziv ispita</th>
                <th>Mjesto održavanja</th>
                <th>Vrijeme održavanja</th>
                <th> </th>

                <% if(ispiti.length >= 1){
                for(var i = 0; i < ispiti.length; i++) {
                    var danas = new Date();
                    if(danas < ispiti[i].DatumIspita){
                %>

                <tr>
                    <td><%= ispiti[i].DioIspita %></td>
                    <td><%= ispiti[i].NazivKabineta %></td>
                    <td><%= (new Date(ispiti[i].DatumIspita).getDate() + 100).toString().substring(1)%>/<%= (new Date(ispiti[i].DatumIspita).getMonth() + 101).toString().substring(1)%>/<%= (new Date(ispiti[i].DatumIspita).getFullYear()).toString()%>
                    u
                    <%= (new Date(ispiti[i].DatumIspita).getHours()+100).toString().substring(1) %>:<%= (new Date(ispiti[i].DatumIspita).getMinutes()+100).toString().substring(1) %></td>

                    <td>
                        <button type="submit" class="button" id="prijavaDugme"  data-toggle="modal"
                                data-target="#prijavaModal" onclick="prijaviIspit(<%= ispiti[i].IspitId %>);">Prijava</button>

                    </td>

                </tr>
                <% }} %>
            </table>
        </div>
        <% } %>

        <!-- Rezultati ispita-->
        <div class="box">
            <h4 class="green">Rezultati ispita</h4>
            <table class="table">
                <tr>
                    <th> Naziv ispita </th>
                    <th> Datum objave </th>
                    <th> Datum uvida </th>
                    <th> Osvojeno bodova</th>
                    <th> Maksimalan broj bodova</th>
                </tr>
                <% if(rezultati.length >= 1){
                for(var i = 0; i < rezultati.length; i++) {
                %>

                <tr>
                    <td><%= rezultati[i].DioIspita %></td>
                    <td><%= (new Date(rezultati[i].DatumObjave).getDate() + 100).toString().substring(1)%>.<%= (new Date(rezultati[i].DatumObjave).getMonth() + 101).toString().substring(1)%>.<%= (new Date(rezultati[i].DatumObjave).getFullYear()).toString()%></td>
                    <td><%= (new Date(rezultati[i].DatumUvida).getDate() + 100).toString().substring(1)%>.<%= (new Date(rezultati[i].DatumUvida).getMonth() + 101).toString().substring(1)%>.<%= (new Date(rezultati[i].DatumUvida).getFullYear()).toString()%></td>
                    <td><%= rezultati[i].OsvojeniBrojBodova%></td>
                    <td><%= rezultati[i].MaxBrojBodova%></td>

                </tr>
                <% }} %>
            </table>
        </div>





    </div>
</div>
</body>
</html>
